header{


background-color: #105b63;

height: 90px;
color: white;
margin-top: -20px;
display: flex;






}

.tituloo{

    padding-top: 2px;
    padding-left: 20px;
    font-weight: normal;
    font-size: 20px;
    position: absolute;
    margin-left: 120px;
    margin-top: 40px;
   
}

.logoo{

    width: 80px;
    padding-top: 20px;
    
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #105b63;
}

/* Esconde o input original */
#imageInput {
    display: none;
  }
  
  /* Estiliza o botão customizado */
  #customFileLabel {
    display: inline-block;
    padding: 7px 15px;
    background-color: #0077b6;  /* verde */
    color: white;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
   
  }
  
  /* Estiliza o botão "Enviar Imagem" */
  #submitButton {
    padding: 10px 16px;
    background-color: #0077b6;  /* azul */
    color: white;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Hover effects */
  #customFileLabel:hover {
    background-color: #4c9cc7;
  }
  
  #submitButton:hover {
    background-color: #4c9cc7;
  }
  